.recom-container{
    height: 600px;
    width: 800px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 5% 15%;
    padding: 2% 3%;
    border-radius: 20px;
    margin-bottom: 50px;
    background-color: rgb(248, 246, 248);
    box-shadow: 0 5px 10px #c06c84;
}

.arrow, .recom-carousel{
    display: flex;
}

.arrow{
    height: 100%;
    width: 50px;
}

.left, .right{
    height: 50px;
    margin: auto;
}

.recom-carousel{
    height: 90%;
    width: 100%;
    box-sizing: border-box;
    margin-top: 1%;
    padding: 1%;
}

.recom-movies{
    width: 100%;
    position: relative;
}

.recom-movie{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: absolute;
}

.recom-movie-name{
    text-align: center;
    margin: 0%;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.recom-movie-info{
    position: relative;
    height: 100%;
    width: 100%;
}

.recom-movie-image{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.recom-info-hover{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    color: white;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 2s linear; 
    transition: visibility 0s, opacity 1s linear;
}

.recom-movie-info:hover .recom-info-hover{
    height: 100%;
    width: 50%;
    /* padding: 8px 15px; */
    visibility: visible;
    opacity: 0.8;
}

.recom-data{
    height: 60%;
    width: 90%;
    margin: auto;
}