*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: linear-gradient(#070707, #363636);
  font-family: "Poppins", sans-serif;
  color: #FFFFFF;
}

.container {
  max-width: 1030px;
  width: 100%;
  min-height: 100%;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie_card {
  background-color: #11100B;
  width: 700px;
  height: 500px;
  position: relative;
  border-radius: 5%;
  overflow: hidden;
}

.bg-text {
  display: flex;
  position: absolute;
  top: 0;
  left: 3%;
  z-index: 0;
  font-size: 80px;
  font-weight: 900;
  text-transform: uppercase;
  opacity: 2%;
}

.movie {
  width: 50%;
  height: 70%;
  position: absolute;
  top: 95px;
  right: 65px;
}

.movie_rating {
  margin-bottom: -15px;
  font-weight: 700;
  color: #FDC559;
}
.movie_rating span {
  background-color: #FDC559;
  margin-left: 3px;
  padding: 1px 5px;
  font-size: 14px;
  color: #19130D;
  border-radius: 5px;
}
.movie_title {
  font-size: 50px;
  text-transform: uppercase;
}
.movie_info {
  width: 80%;
  margin-top: -15px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #6A6965;
}
.movie_button {
  background: none;
  margin-top: 20px;
  padding: 12px 22px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: 1px solid #6A6965;
  border-radius: 30px;
  color: #FFFFFF;
  cursor: pointer;
  transition: ease-out 0.3s;
}
.movie_button i {
  color: #FDC559;
  margin-right: 5px;
}
.movie_button:hover {
  border-color: #FDC559;
  box-shadow: 1px 1px 10px rgba(253, 197, 89, 0.5);
}
.movie_button:focus {
  outline: none;
}
.movie_text {
  margin-top: 20px;
}
.movie_text p {
  font-size: 11px;
  color: #6A6965;
}
.movie_link {
  font-size: 12px;
  color: #6A6965;
  text-decoration: none;
  border-bottom: 1px solid #6A6965;
  transition: ease-out 0.3s;
}
.movie_link:hover {
  color: #FDC559;
  border-color: #FDC559;
}

.movie_img{
  height: 500px;
  display: flex;
  align-items: center;
}

#retrive-image{
  border-radius: 30px;
  margin-left: 10px;
  height: 400px;
}