<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../CSS/carousel.css">
    <script src="../js-files/slideshow.js"></script>
</head>
<body>
    <div class="container">
        <div class="arrow">
            <img class="left" src="../Images/left.webp" onclick="nextImage()">
        </div>
        <div class="carousel">
            <div class="movies">
                <div class="movie">
                    <center><h3 class="movie-name">TENET</h3></center>
                    <div class="movie-info">
                        <img class="movie-image" src="../Images/tenet.jpg" alt="Tenet">
                        <div class="info-hover">
                            <div class="data">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut recusandae odit dolorum reiciendis cumque quas earum laborum, rerum reprehenderit blanditiis omnis molestiae nesciunt explicabo id illo provident fuga vero? Debitis cupiditate optio consequuntur laudantium officia. Dolor delectus dicta necessitatibus commodi, eos ipsa saepe obcaecati labore corrupti! Ullam, saepe error.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <center><h3 class="movie-name">Knives Out</h3></center>
                    <div class="movie-info">
                        <img class="movie-image" src="../Images/knives-out.jpg" alt="Knives Out">
                        <div class="info-hover">
                            <div class="data">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut recusandae odit dolorum reiciendis cumque quas earum laborum, rerum reprehenderit blanditiis omnis molestiae nesciunt explicabo id illo provident fuga vero? Debitis cupiditate optio consequuntur laudantium officia. Dolor delectus dicta necessitatibus commodi, eos ipsa saepe obcaecati labore corrupti! Ullam, saepe error.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="movie">
                    <center><h3 class="movie-name">1917</h3></center>
                    <div class="movie-info">
                        <img class="movie-image" src="../Images/1917.jpg" alt="1917">
                        <div class="info-hover">
                            <div class="data">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo ut recusandae odit dolorum reiciendis cumque quas earum laborum, rerum reprehenderit blanditiis omnis molestiae nesciunt explicabo id illo provident fuga vero? Debitis cupiditate optio consequuntur laudantium officia. Dolor delectus dicta necessitatibus commodi, eos ipsa saepe obcaecati labore corrupti! Ullam, saepe error.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow">
            <img class="right" src="../Images/right.webp" onclick="prevImage()">
        </div>
    </div>
</body>
</html>