<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename ='CSS/style.css') }}">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <title>What Watch Next ?</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">What Watch Next ?</h1>
            </div>
			<div class="search">
				<form class="search-form" method="POST" action="{{ url_for('search')}}">
                    <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
                    <input name="movie_name" id="search" onKeyPress="" type="search" placeholder="&nbsp;Search for a movie..." class="search-input" value="">
                </form>
			</div>
        </div>
    </div>
    <!-- <div class="sidebar">
        <i class="left-menu-icon fas fa-search"></i>
        <i class="left-menu-icon fas fa-home"></i>
        <i class="left-menu-icon fas fa-users"></i>
        <i class="left-menu-icon fas fa-bookmark"></i>
        <i class="left-menu-icon fas fa-tv"></i>
        <i class="left-menu-icon fas fa-hourglass-start"></i>
        <i class="left-menu-icon fas fa-shopping-cart"></i>
    </div> -->
    <div class="container">
        {% set temp = json_details['results'][0]['poster_path'] %}
        <!-- <h1 style="text-align: center;">{{temp}}</h1> -->
        {% set urlParam = ["https://image.tmdb.org/t/p/original/",temp]|join('') %}
        <!-- <h1>{{urlParam}}</h1> -->
        <div class="content-container">
            <div class="featured-content"
                style="background: linear-gradient(to bottom, rgba(0,0,0,0), #151515), url('{{urlParam}}')">
                <img class="featured-title" src="{{urlParam }}" alt=""  width="500" height="300">
                <p class="featured-desc">{{json_details['results'][0]['overview'][:450]}}</p>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">NEW RELEASES</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{new_release[0][1]}}" alt="">
                            <span class="movie-list-item-title">{{new_release[0][0]}}</span>
                            <p class="movie-list-item-desc">{{new_release[0][2]}}</p>
                            <!-- <button class="movie-list-item-button">Watch</button> -->
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{new_release[1][1]}}" alt="">
                            <span class="movie-list-item-title">{{new_release[1][0]}}</span>
                            <p class="movie-list-item-desc">{{new_release[1][2]}}</p>
                            <!-- <button class="movie-list-item-button">Watch</button> -->
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{new_release[2][1]}}" alt="">
                            <span class="movie-list-item-title">{{new_release[2][0]}}</span>
                            <p class="movie-list-item-desc">{{new_release[2][2]}}</p>
                            <!-- <button class="movie-list-item-button">Watch</button> -->
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{new_release[3][1]}}" alt="">
                            <span class="movie-list-item-title">{{new_release[3][0]}}</span>
                            <p class="movie-list-item-desc">{{new_release[3][2]}}</p>
                            <!-- <button class="movie-list-item-button">Watch</button> -->
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{new_release[4][1]}}" alt="">
                            <span class="movie-list-item-title">{{new_release[4][0]}}</span>
                            <p class="movie-list-item-desc">{{new_release[4][2]}}</p>
                            <!-- <button class="movie-list-item-button">Watch</button> -->
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{new_release[5][1]}}" alt="">
                            <span class="movie-list-item-title">{{new_release[5][0]}}</span>
                            <p class="movie-list-item-desc">{{new_release[5][2]}}</p>
                            <!-- <button class="movie-list-item-button">Watch</button> -->
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{new_release[6][1]}}" alt="">
                            <span class="movie-list-item-title">{{new_release[6][0]}}</span>
                            <p class="movie-list-item-desc">{{new_release[6][2]}}</p>
                            <!-- <button class="movie-list-item-button">Watch</button> -->
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
            <div class="movie-list-container">
                <h1 class="movie-list-title">POPULAR MOVIES</h1>
                <div class="movie-list-wrapper">
                    <div class="movie-list">
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{final_popular[0][2]}}" alt="">
                            <span class="movie-list-item-title">{{final_popular[0][0]}}</span>
                            <p class="movie-list-item-desc">{{final_popular[0][1]}}</p>
                            <!-- <button class="movie-list-item-button">Watch</button> -->
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{final_popular[1][2]}}" alt="">
                            <span class="movie-list-item-title">{{final_popular[1][0]}}</span>
                            <p class="movie-list-item-desc">{{final_popular[1][1]}}</p>

                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{final_popular[2][2]}}" alt="">
                            <span class="movie-list-item-title">{{final_popular[2][0]}}</span>
                            <p class="movie-list-item-desc">{{final_popular[2][1]}}</p>
                           
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{final_popular[3][2]}}" alt="">
                            <span class="movie-list-item-title">{{final_popular[3][0]}}</span>
                            <p class="movie-list-item-desc">{{final_popular[3][1]}}</p>
                           
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{final_popular[4][2]}}" alt="">
                            <span class="movie-list-item-title">{{final_popular[4][0]}}</span>
                            <p class="movie-list-item-desc">{{final_popular[4][1]}}</p>
                           
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{final_popular[5][2]}}" alt="">
                            <span class="movie-list-item-title"> {{final_popular[5][0]}}</span>
                            <p class="movie-list-item-desc">{{final_popular[5][1]}}</p>
                            
                        </div>
                        <div class="movie-list-item">
                            <img class="movie-list-item-img" src="{{final_popular[6][2]}}" alt="">
                            <span class="movie-list-item-title">{{final_popular[6][0]}}</span>
                            <p class="movie-list-item-desc">{{final_popular[6][1]}}</p>
                        </div>
                    </div>
                    <i class="fas fa-chevron-right arrow"></i>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static' , filename ='js-files/appp.js') }}"></script>
</body>

</html>