<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static' , filename ='CSS/home-style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sen:wght@400;700;800&display=swap"      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap&Dela+Gothic+One&display=swap" rel="stylesheet">
    <title>What Watch Next ?</title>
</head>

<body>
    <div class="navbar">
        <div class="navbar-container">
            <div class="logo-container">
                <h1 class="logo">What Watch Next ?</h1>
            </div>
            <div class="menu-container">
                <ul class="menu-list">
                    <li class="menu-list-item active">Home</li>
                    <!-- <li class="menu-list-item">Movies</li> -->
                    <li class="menu-list-item">Popular</li>
                    <li class="menu-list-item">Trends</li>

                </ul>
            </div>
        </div>
    </div>
	<div class="search-bar">
		<form method="POST" action="{{ url_for('search')}}">
            <div class="tb">
                <input name="movie_name" class="search-movie" type="text" placeholder="Search for Movie">
                <div id="s-cover">
                    <button type="submit">
                        <div id="s-circle"></div>
                        <span></span>
                    </button>
                </div>
            </div>
	    </form> 
	</div>
</body>

</html>